<div id="container" >
  <h1>{{title}}</h1>
  <p>Welcome to {{title}}</p>
  <!-- <a href="/dashboard.html">demo</a> -->
  <input type="text">aquí meter COM</input>
  <p>Presiona f1 para obtener información de consola</p>
</div>