<div id="container" >
  <h1>{{title}}</h1>
  <h3>Soy el Gateway, un servidor encargado de distribuir los datos generados por los sensores y actuadores,
     también me encargo de hacerle llegar las órdenes y pedidos de los usuarios a estos dispositivos de IoT</p>
  <p>Presiona f1 para obtener información de consola</h3>
</div>