body {
  padding: 50px;
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding-top: 80px;
  padding-bottom: 20px;
}

a {
  color: #00B7FF;
}


.row {
  margin-top: 25px;
}

#slider {
	margin-top: 7px;
    vertical-align:middle;
}
.navbar {
  margin-bottom: 20px;
}